<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="true" xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <import resource="loggers.xml"/>
    <bean id="client" class="com.yet.spring.core.beans.Client">
        <property name="greeting" value="Hello, world!"/>
        <constructor-arg index="0" value="1" type="long"/>
        <constructor-arg index="1" value="John Smith" type="java.lang.String"/>
    </bean>
    <bean id="app" class="com.yet.spring.core.App">
        <constructor-arg ref="client"/>
        <constructor-arg ref="cacheFileEventLogger"/>
        <constructor-arg>
            <map>
                <entry key="INFO" value-ref="consoleEventLogger"/>
                <entry key="ERROR" value-ref="combinedEventLogger"/>
            </map>
        </constructor-arg>
    </bean>
    <bean id="event" class="com.yet.spring.core.beans.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date" scope="prototype"/>
        </constructor-arg>
        <constructor-arg ref="dateFormat"/>
    </bean>
    <bean id="dateFormat" class="java.text.DateFormat" factory-method="getDateInstance"/>
</beans>